* {
  font-size: 20px;
}

body {
  background-image: linear-gradient(to bottom right, rgba(189,13,34,1),rgba(2,0,184,1), rgba(0,0,0,1)); 
  font-family: sans-serif;
  height: 700px;
  margin: 0;
  padding: 0;
}

.flex-container-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.calculator-container {
  width: 310px;
  height: 385px;
  border-radius: 5px;
  background-color: #071115; 
}

.calculator-display {
  width: 295px;
  height: 70px;
  margin: 5px;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #f8fafd;
  border: 2px solid 071115;
}

.calculator-big-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.calculator-big-button {
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid 071115;
  justify-content: space-around;
  border-radius: 10px;
  margin: 5px;
}

.calculator-small-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  grid-template-rows: repeat(5, 1fr);
}

.calculator-small-button {
  border: 1px solid 071115;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
}

.clear-btn, .backspace-btn {
  background-color: #2d191e;
  color: #bd3740;
}

.btn-number {
  background-color: #1b2f38;
  color: #f8fafd;
}

.btn-operator {
  background-color: #2e1f39;
  color: #Aa00a4;
}

.btn-equal {
  background-color: #223323;
  color: black;
}